<br> <center><h1>Account Setup Successful!</h1><center> <br>

<h3>Congragulations <%= @passenger.name()%> on setting up your account</h3> <br>



<h4><ul class="removedecorations">
 <li><%= @driver.name()%> will be travelling from <%= @driver.route_from()%> to <%= @driver.route_to()%> Car owner's contact: +254<%= @driver.phone_number() %></li>
</ul></h4> <br>

<p>If one of the above routes happen to be used at a time of your convenience, you're welcome to contact the
 driver whose phone number will appear beside the routes</p> <br>

 <a href="/passenger/<%= @passenger.id()%>"><button type="button" class="btn btn-primary btn-lg text-center">Your Account</button></a> <br> <br>
